@use '../../theme/colors.module.scss' as colors;

.row {
    display: flex;
}

.column_full {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem /** 8px */;
    padding-right: 0.5rem /** 8px */;
}

.column {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem /** 8px */;
    padding-right: 0.5rem /** 8px */;
    max-width: 50%;
}

.page_container {
    height: 100vh;
    width: 100%;
    max-width: 70vw;
    overflow: scroll;
    background-color: colors.$main-content;
    padding-left: 1.5rem /* 24px */;
    padding-right: 1.5rem /* 24px */;
    padding-top: 2.5rem /* 40px */;
    padding-bottom: 2.5rem /* 40px */;
}

.page_section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1.5rem /** 24px */;
    padding-bottom: 1.5rem /** 24px */;
}

.page_title_wrapper {
    display: flex;
    flex-direction: column;
}

.hr_wrapper {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.hr_styling {
    border-top: 1px solid rgb(209 213 219);
    width: 100%;
}

.page_section_content {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0.5rem /* 8px */;
    padding-right: 0.5rem /* 8px */;
}

.flex_container_main {
    display: flex;
    flex-flow: column nowrap;
    align-items:flex-start; //normal is default
    padding: 2rem; //32px
    gap: 2rem; //32px
    
    width: fill;
    align-content: flex-start;
}

.flex_container_top {
    display: flex;
    flex-flow: row wrap;
    align-items:flex-start;
    padding: 1rem; //16px
    gap: 1rem; //16px

    width: fill;
    align-content: flex-start;
    
    background: #D8D8D8;
}

.flex_container_bottom {
    display: flex;
    flex-flow: column wrap;
    align-items:flex-start;
    padding: 1rem; //16px
    gap: 1rem; //16px

    width: fill;
    align-content: flex-start;
    height: 27rem;

    background: #D8D8D8;
}

.flex_item {
    flex: none;
    width: 4rem; //62px
    height: 4rem; //62px
    background:  #002034;
    order: 0;
    flex-grow: 0;
}